{% extends "iotsgh/mainhome.html" %}

{% block content %}

<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 180%;">
	<br>
	<br>
	The objective of IoT based smart weather controlled greenhouse using Raspberry Pi is to realize
	a real time system which provides favorable condition for crop growth inside greenhouse. The
	system should be able to automate the greenhouse and also increase the crop yield. The design
	is such that the sensors and related hardware connected to the system can be accessed from
	anywhere anytime via an android application using internet.
	<br>
	<br>
	In the current project an attempt is made to enable automation at the same time there is a scope
	for user intervention. The system also introduces features like crop specific weather conditions,
	season specific weather conditions and manual mode thus enabling power savings and
	customization.
	<br>
	<br>
	There are four IoT models to connect various devices and sensors to the Internet.
	The current system is based on Device to gateway model of IoT, the android application acts as
	a mediator between an IoT device i.e Raspberry Pi and a cloud service.
	<br>
	<br>
</p>

{% endblock %}