{% extends "iotsgh/mainhome.html" %}
{% block content %}


<div class="intro-text">
	<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 300%" align="center">"IoT BASED WEATHER CONTROLLED SMART GREEN HOUSE" provides favorable condition for crop growth inside green house.</p>
</div>

<hr>

<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 250%; margin-right: 300px;">
<span class="glyphicon glyphicon-time" aria-hidden="true"></span> REAL TIME SYSTEM </p>

<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 180%; margin-right: 300px;">
	This system is designed to provide real time service to the users. So each and every change is updated to the user without any delay.
</p>

</br>
</br>

<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 250%; margin-right: 300px">
<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> MONITOR AND CONTROL FROM ANYWHERE</p>

<p style="color: rgb(4, 144, 0); font-family: Garamond; font-size: 180%; margin-right: 300px;">
	Internet Of Things based greenhouse which you can monitor and control from Office, Trip or Anywhere.
	So your plants are always with you.
</p>

<br>
<br>


<!-- styling part -->

<style type="text/css">
	.intro-text {display: block;}
	.intro-text {padding: 40px 50px;}
</style>
<style type="text/css">
	hr{
		border-width: 2px;
	}
</style>

{% endblock %}